nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & li {
    list-style-type: none;
    padding: 5px 10px;
    & a {
      text-decoration: none;
    }
  }
}

// .dropdown {
//   position: relative;
// }

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  & a {
    color: black;
    display: block;
    text-decoration: none;
    &:hover {
      background-color: $secondary-color;
    }
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-card {
  background-color: $secondary-color;
  & .links-card-wrapper {
    display: flex;
    & ul {
      display: block;
      & li {
        width: 100px;
      }
    }
  }

  & .side-image img {
    max-width: 120px;
  }
}