* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
}
.button:hover {
  background-color: #217dbb;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  list-style-type: none;
  padding: 5px 10px;
}
nav ul li a {
  text-decoration: none;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  display: block;
  text-decoration: none;
}
.dropdown-content a:hover {
  background-color: #2ecc71;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-card {
  background-color: #2ecc71;
}
.nav-card .links-card-wrapper {
  display: flex;
}
.nav-card .links-card-wrapper ul {
  display: block;
}
.nav-card .links-card-wrapper ul li {
  width: 100px;
}
.nav-card .side-image img {
  max-width: 120px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  max-height: 100px;
}

footer {
  background-color: #3498db;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

.light-theme {
  background-color: #fff;
  color: #333;
}

.dark-theme {
  background-color: #333;
  color: #fff;
}