* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
}
.button:hover {
  background-color: #217dbb;
}

.navbar {
  background-color: #3498db;
  padding: 10px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}
.navbar a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: #3498db;
  color: #fff;
  padding: 10px 0;
}
header h1 {
  font-size: 2rem;
}

footer {
  background-color: #3498db;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

.light-theme {
  background-color: #fff;
  color: #333;
}

.dark-theme {
  background-color: #333;
  color: #fff;
}