// _footer.scss
footer {
    background-color: $primary-color;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  
    a {
      color: #fff;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  // Add more footer styles as needed
  